/*src\styles\LogIn.css*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600;700&display=swap');

.login-container {
  width: 100%;
  max-width: 350px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--accent-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
}

.login-title {
  font-size: var(--font-xl);
  color: var(--primary-color);
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  
}

.input-group {
  display: flex;
  align-items: center;
  background: white;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
}

.input-group .icon {
  color: var(--primary-color);
  font-size: var(--font-lg);
  margin-right: 10px;
}

.input-group input {
  border: none;
  outline: none;
  font-size: var(--font-md);
  flex: 1;
}

.login-button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  font-size: var(--font-md);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-button:hover {
  background-color: var(--secondary-color);
}
